.loginBar {
    background: #f3f3f3;

    .list {
        width: 102rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        padding: .5rem .4rem;

        .item:nth-child(n+4) {
            order: -1;
        }

        .item:first-child {
            margin-left: auto;
        }

        a {
            text-decoration: none;
            color: black;
            display: block;
            padding: .5rem .4rem;
            font-size: 1.2rem;
            line-height: 1.2;
        }

    }

}